.OZ-19-cancellation-friction-variation-1 {
    overflow: hidden
}

.OZ-19-cancellation-friction-variation-1 .omaze-subscription-popup {
    position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(10px);
    overflow: hidden
}

.OZ-19-cancellation-friction-variation-1 .popup-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden
}

.OZ-19-cancellation-friction-variation-1 .popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("https://iili.io/F0MK7nf.gif");
    background-size: cover;
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    width: clamp(320px, 57.6vw, 720px);
    height: clamp(400px, 85vh, 720px);
    border-radius: clamp(20px, 2.65vw, 40px);
    max-height: 90vh;
    aspect-ratio: 4 / 3;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: hidden;
    padding: clamp(16px, 2.1vw, 32px) clamp(12px, 1.6vw, 24px);
    text-align: center
}

.OZ-19-cancellation-friction-variation-1 .popup-container.step-4 {
    background: url("https://iili.io/F1LifxS.gif");
    background-size: cover
}

.OZ-19-cancellation-friction-variation-1 .popup-container.step-4 .step-header-icon svg {
    fill: #fff
}

.OZ-19-cancellation-friction-variation-1 .popup-container.step-4 .step-icon {
    width: 300px;
    height: 300px;
    background-color: transparent;
    box-shadow: none
}

@media (max-width: 1024px) and (max-height: 500px) {
    .OZ-19-cancellation-friction-variation-1 .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        border-radius: 0;
        padding: 20px 24px;
        overflow-y: auto;
        display: flex;
        flex-direction: column
    }
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        border-radius: 0;
        padding: 40px 24px;
        display: flex;
        overflow-y: auto;
        flex-direction: column
    }
}

.OZ-19-cancellation-friction-variation-1 .popup-header {
    position: relative;
    margin-top: 10px
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .popup-header {
        padding-bottom: 0
    }
}

.OZ-19-cancellation-friction-variation-1 .close-btn {
    position: absolute;
    top: -16px;
    right: -8px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #081F28;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease
}

.OZ-19-cancellation-friction-variation-1 .close-btn:hover {
    background: rgba(0, 0, 0, 0.1)
}

.OZ-19-cancellation-friction-variation-1 .ccx-progress-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 24px;
    padding: 0 10px
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .ccx-progress-bar {
        margin-bottom: 16px
    }
}

.OZ-19-cancellation-friction-variation-1 .step-4 .progress-item {
    background-color: #fd0 !important
}

.OZ-19-cancellation-friction-variation-1 .progress-item {
    width: 44px !important;
    height: 6px !important;
    background: #fff;
    border-radius: 3px;
    transition: all 0.3s ease
}

.OZ-19-cancellation-friction-variation-1 .progress-item.active,
.OZ-19-cancellation-friction-variation-1 .progress-item.completed {
    background: #081F28
}

.OZ-19-cancellation-friction-variation-1 .progress-item.clickable {
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 10 !important
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .progress-item {
        width: 60px
    }
}

.OZ-19-cancellation-friction-variation-1 .progress-line {
    display: none
}

.OZ-19-cancellation-friction-variation-1 .progress-item * {
    pointer-events: none
}

.OZ-19-cancellation-friction-variation-1 .progress-item.clickable {
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 10 !important
}

.OZ-19-cancellation-friction-variation-1 .step-4 .step-title {
    color: #fff;
    font-family: 'Gellix';
    font-weight: 700;
    font-style: bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 344px;
    margin: 0 auto;
    padding-bottom: 0px !important
}

.OZ-19-cancellation-friction-variation-1 .step-4 .step-title span {
    color: #fd0;
    font-family: 'Gellix';
    font-weight: 700;
    font-style: bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center
}

.OZ-19-cancellation-friction-variation-1 .step-title {
    font-size: 28px;
    color: #081F28;
    padding-bottom: clamp(25px, 2.91vw, 32px);
    line-height: 1.2;
    margin-bottom: 0 !important;
    font-weight: 700
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .step-title {
        font-family: "Gellix";
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        padding-bottom: 44px;
        text-align: center
    }
}

.OZ-19-cancellation-friction-variation-1 .step-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: clamp(15px, 4.18vw, 10px)
}

.OZ-19-cancellation-friction-variation-1 .step-header-icon svg {
    fill: #000
}

.OZ-19-cancellation-friction-variation-1 .step-4 .step-icon {
    position: relative;
    background-image: url("https://cdn-eu.dynamicyield.com/api/9881146/images/8f1930274082.gif");
    margin-bottom: 0px !important
}

.OZ-19-cancellation-friction-variation-1 .step-4 .step-icon::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 100%;
    background-image: url("https://cdn-eu.dynamicyield.com/api/9881146/images/8f1930274082.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 99999;
    pointer-events: all
}

.OZ-19-cancellation-friction-variation-1 .step-4 .step-icon img {
    width: 326px !important;
    height: auto;
    max-height: 246px !important;
    opacity: 1;
    margin-left: 10px;
    margin-bottom: 0px
}

.OZ-19-cancellation-friction-variation-1 .step-icon {
    width: clamp(120px, 11.9vw, 241px);
    height: clamp(120px, 11.9vw, 241px);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto clamp(15px, 0.66vw, 10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 0
}

.OZ-19-cancellation-friction-variation-1 .step-icon svg {
    width: 60px;
    height: 60px
}

.OZ-19-cancellation-friction-variation-1 .step-icon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    margin-bottom: 15px
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .step-icon {
        width: 240px;
        height: 240px
    }
}

.OZ-19-cancellation-friction-variation-1 .step-description {
    font-size: 18px;
    line-height: 1.4;
    color: #081F28;
    margin-bottom: 0;
    font-weight: 500;
    max-width: clamp(320px, 35.7vw, 540px);
    padding-top: clamp(7px, 0.66vw, 10px);
    margin: 0 auto clamp(7px, 0.66vw, 10px);
    margin-bottom: clamp(16px, 0px, 36px);
    padding-bottom: clamp(24px, 1.38vw, 36px);
    min-height: clamp(80px, 8.47vw, 128px);
    font-family: 'Gellix';
    font-weight: 700;
    font-style: bold;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 490px
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .step-description {
        margin-bottom: 20px;
        font-family: 'Gellix';
        font-weight: 700;
        font-style: bold;
        font-size: 27px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 36px;
        min-height: 128px
    }
}

.OZ-19-cancellation-friction-variation-1 .step-4 .navigation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center
}

.OZ-19-cancellation-friction-variation-1 .step-4 .navigation-buttons .btn-primary {
    background-color: #fd0;
    color: #000;
    width: 136px;
    height: 48px;
    border-radius: 76px;
    gap: 10px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 11px;
    padding-left: 24px
}

.OZ-19-cancellation-friction-variation-1 .step-4 .navigation-buttons .btn-secondary {
    background-color: transparent;
    color: #fff !important;
    font-family: 'Gellix';
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 136px;
    height: 48px;
    background-color: #213C48;
    border: none !important
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .step-4 .navigation-buttons .btn-secondary {
        border: none;
        background-color: transparent
    }
}

.OZ-19-cancellation-friction-variation-1 .navigation-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .navigation-buttons {
        margin-top: auto
    }
}

.OZ-19-cancellation-friction-variation-1 .btn {
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
    max-width: 251px
}

@media (max-width: 768px) {
    .OZ-19-cancellation-friction-variation-1 .btn {
        flex: 1;
        min-width: auto
    }
}

.OZ-19-cancellation-friction-variation-1 .btn-primary {
    background: #081F28;
    color: #fff
}

.OZ-19-cancellation-friction-variation-1 .btn-primary:hover {
    background: #34495E
}

.OZ-19-cancellation-friction-variation-1 .btn-primary:hover:hover {
    transform: translateY(-2px)
}

.OZ-19-cancellation-friction-variation-1 .btn-secondary,
.OZ-19-cancellation-friction-variation-1 .btn-back {
    background: transparent;
    color: #081F28;
    border: 2px solid #081F28
}

.OZ-19-cancellation-friction-variation-1 .btn-secondary:hover,
.OZ-19-cancellation-friction-variation-1 .btn-back:hover {
    background: #081F28;
    color: #fff
}

.OZ-19-cancellation-friction-variation-1 .loading-content {
    text-align: center;
    padding: 2rem
}

.OZ-19-cancellation-friction-variation-1 .loading-content .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center
}

.OZ-19-cancellation-friction-variation-1 .loading-content .step-title,
.OZ-19-cancellation-friction-variation-1 .loading-content .step-description {
    line-height: 30px;
    color: #fff
}

.OZ-19-cancellation-friction-variation-1 .loading-content+.navigation-buttons {
    display: none !important
}

.OZ-19-cancellation-friction-variation-1 .loading-spinner {
    margin: 2rem 0
}

.OZ-19-cancellation-friction-variation-1 .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0193a7;
    border-radius: 50%;
    animation: spin 1s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}